name: Build CI

# Trigger the workflow on push or pull request
on: [push]

jobs:
  build:
    name: Build

    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Fix Android build-tools issue
        run: |
          echo "Uninstalling build tools > 30"
          echo "As a temporary workaround to fix builds"
          SDKMANAGER=$ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager
          echo y | $SDKMANAGER --uninstall "build-tools;31.0.0"
          echo y | $SDKMANAGER --install "ndk;22.1.7171670"
          
      - name: Build Plugin Source
        run: cd src && npm run build

      - name: Lint
        run: |
          cd src && npm run ci.tslint
          cd ../demo && npm run ci.tslint
          cd ../demo-angular && npm run ci.tslint
          cd ../demo-vue && npm run ci.tslint

      - name: Setup JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install PIP
        run: |
          sudo pip install --upgrade pip
          sudo pip install six

      - name: Setup NativeScript CLI
        run: |
          echo no | npm i -g nativescript@^8.0.0
          ns usage-reporting disable
          ns error-reporting disable

      - name: Build Android Demo App
        run: |
          cd demo
          ns build android --env.uglify

      - name: Build iOS Demo App
        run: |
          cd demo
          ns build ios --env.uglify

      - name: Build Android Angular Demo App
        run: |
          cd demo-angular
          ns build android --env.uglify

      - name: Build iOS Demo Angular App
        run: |
          cd demo-angular
          ns build ios --env.uglify

      - name: Build Android Vue Demo App
        run: |
          cd demo-vue
          ns build android --env.uglify

      - name: Build iOS Demo Vue App
        run: |
          cd demo-vue
          ns build ios --env.uglify
